## We start off by importing the data

In [2]:
import pandas as pd

df = pd.read_csv('data/arcgisinf.csv', sep=',', index_col=0, parse_dates=True) # it's important to define index and parse_dates

In [3]:
pd.set_option('display.max_columns', None)
df.tail(10)

,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,BEM,NBD,SN_L,SN_R,SN_K,SN_V1,SN_V2,SN_G,FK_S3,NUTS,RS_0,AGS_0,WSK,EWZ,KFL,DEBKG_ID,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL,BL_ID,county,last_update,cases7_per_100k,recovered,EWZ_BL,cases7_bl_per_100k,cases7_bl,death7_bl,cases7_lk,death7_lk,cases7_per_100k_txt,AdmUnitId,SHAPE_Length,SHAPE_Area
OBJECTID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
406,NaN,NaN,NaN,11009,NaN,NaN,Berlin Treptow-Köpenick,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,266488,NaN,NaN,2.251289,7951,179,2983.624028,2.983624,Berlin,11,SK Berlin Treptow-Köpenick,28.03.2021_00:00 Uhr,134.715259,NaN,3669491,140.237433,5146,4,359,0,134.7,11009,1.111521,0.022161
407,NaN,NaN,NaN,11003,NaN,NaN,Berlin Pankow,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,398036,NaN,NaN,1.579715,12344,195,3101.227025,3.101227,Berlin,11,SK Berlin Pankow,28.03.2021_00:00 Uhr,107.527962,NaN,3669491,140.237433,5146,4,428,0,107.5,11003,0.784894,0.013689
408,NaN,NaN,NaN,11008,NaN,NaN,Berlin Neukölln,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321123,NaN,NaN,2.227854,16967,378,5283.645208,5.283645,Berlin,11,SK Berlin Neukölln,28.03.2021_00:00 Uhr,212.068273,NaN,3669491,140.237433,5146,4,681,0,212.1,11008,0.482223,0.005938
409,NaN,NaN,NaN,11011,NaN,NaN,Berlin Lichtenberg,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,286522,NaN,NaN,2.547630,9028,230,3150.892427,3.150892,Berlin,11,SK Berlin Lichtenberg,28.03.2021_00:00 Uhr,145.887576,NaN,3669491,140.237433,5146,4,418,0,145.9,11011,0.545924,0.006902
410,NaN,NaN,NaN,11010,NaN,NaN,Berlin Marzahn-Hellersdorf,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262967,NaN,NaN,2.694251,8314,224,3161.613434,3.161613,Berlin,11,SK Berlin Marzahn-Hellersdorf,28.03.2021_00:00 Uhr,167.701651,NaN,3669491,140.237433,5146,4,441,0,167.7,11010,0.487570,0.008184
411,NaN,NaN,NaN,11005,NaN,NaN,Berlin Spandau,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239019,NaN,NaN,2.115813,10776,228,4508.428200,4.508428,Berlin,11,SK Berlin Spandau,28.03.2021_00:00 Uhr,157.309670,NaN,3669491,140.237433,5146,4,376,0,157.3,11005,0.719318,0.012292
412,NaN,NaN,NaN,11006,NaN,NaN,Berlin Steglitz-Zehlendorf,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302177,NaN,NaN,2.097047,10634,223,3519.129517,3.519130,Berlin,11,SK Berlin Steglitz-Zehlendorf,28.03.2021_00:00 Uhr,124.430384,NaN,3669491,140.237433,5146,4,376,1,124.4,11006,0.791122,0.013552
413,NaN,NaN,NaN,11001,NaN,NaN,Berlin Mitte,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,375238,NaN,NaN,1.557941,18165,283,4840.927625,4.840928,Berlin,11,SK Berlin Mitte,28.03.2021_00:00 Uhr,178.020350,NaN,3669491,140.237433,5146,4,668,0,178.0,11001,0.438594,0.005218
414,NaN,NaN,NaN,11002,NaN,NaN,Berlin Friedrichshain-Kreuzberg,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,282059,NaN,NaN,1.175285,11912,140,4223.229892,4.223230,Berlin,11,SK Berlin Friedrichshain-Kreuzberg,28.03.2021_00:00 Uhr,112.742370,NaN,3669491,140.237433,5146,4,318,0,112.7,11002,0.404632,0.002700
415,NaN,NaN,NaN,11007,NaN,NaN,Berlin Tempelhof-Schöneberg,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341772,NaN,NaN,3.041083,14337,436,4194.901864,4.194902,Berlin,11,SK Berlin Tempelhof-Schöneberg,28.03.2021_00:00 Uhr,110.892642,NaN,3669491,140.237433,5146,4,379,1,110.9,11007,0.534689,0.007011

## We'll have a look at the column names

In [4]:
list(df.columns.values)

['ADE',
 'GF',
 'BSG',
 'RS',
 'AGS',
 'SDV_RS',
 'GEN',
 'BEZ',
 'IBZ',
 'BEM',
 'NBD',
 'SN_L',
 'SN_R',
 'SN_K',
 'SN_V1',
 'SN_V2',
 'SN_G',
 'FK_S3',
 'NUTS',
 'RS_0',
 'AGS_0',
 'WSK',
 'EWZ',
 'KFL',
 'DEBKG_ID',
 'death_rate',
 'cases',
 'deaths',
 'cases_per_100k',
 'cases_per_population',
 'BL',
 'BL_ID',
 'county',
 'last_update',
 'cases7_per_100k',
 'recovered',
 'EWZ_BL',
 'cases7_bl_per_100k',
 'cases7_bl',
 'death7_bl',
 'cases7_lk',
 'death7_lk',
 'cases7_per_100k_txt',
 'AdmUnitId',
 'SHAPE_Length',
 'SHAPE_Area']

### Let's just pick the few columns that interest us

In [5]:
df = df[['last_update', 'BL', 'GEN', 'county', 'cases7_per_100k', 'cases7_bl_per_100k']]
df[df["county"] == 'SK München']

,last_update,BL,GEN,county,cases7_per_100k,cases7_bl_per_100k
OBJECTID,,,,,,
224,28.03.2021_00:00 Uhr,Bayern,München,SK München,98.77202,135.76653

In [6]:
the_one_row = df[df["county"] == 'SK München']
the_one_row['cases7_per_100k'].values[0]

98.7720198945444