## We start off by importing the data

In [1]:
import pandas as pd


csv = "https://opendata.arcgis.com/datasets/917fc37a709542548cc3be077a786c17_0.csv"
csv = "infect-data.csv"

df = pd.read_csv(csv, sep=',', index_col=0, parse_dates=True) # it's important to define index and parse_dates

In [3]:
pd.set_option('display.max_columns', None)
df.tail(10)

,ADE,GF,BSG,RS,AGS,SDV_RS,GEN,BEZ,IBZ,BEM,NBD,SN_L,SN_R,SN_K,SN_V1,SN_V2,SN_G,FK_S3,NUTS,RS_0,AGS_0,WSK,EWZ,KFL,DEBKG_ID,death_rate,cases,deaths,cases_per_100k,cases_per_population,BL,BL_ID,county,last_update,cases7_per_100k,recovered,EWZ_BL,cases7_bl_per_100k,cases7_bl,death7_bl,cases7_lk,death7_lk,cases7_per_100k_txt,AdmUnitId,SHAPE_Length,SHAPE_Area
OBJECTID,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
406,NaN,NaN,NaN,11009,NaN,NaN,Berlin Treptow-Köpenick,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,266488,NaN,NaN,2.274585,7342,167,2755.095914,2.755096,Berlin,11,SK Berlin Treptow-Köpenick,"15.03.2021, 00:00 Uhr",55.161959,NaN,3669491,74.09747,2719,4,147,0,"55,2",11009,1.111521,0.022161
407,NaN,NaN,NaN,11003,NaN,NaN,Berlin Pankow,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,398036,NaN,NaN,1.688166,11551,195,2901.998814,2.901999,Berlin,11,SK Berlin Pankow,"15.03.2021, 00:00 Uhr",54.768915,NaN,3669491,74.09747,2719,4,218,1,"54,8",11003,0.784894,0.013689
408,NaN,NaN,NaN,11008,NaN,NaN,Berlin Neukölln,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,321123,NaN,NaN,2.272727,15928,362,4960.093173,4.960093,Berlin,11,SK Berlin Neukölln,"15.03.2021, 00:00 Uhr",77.540382,NaN,3669491,74.09747,2719,4,249,0,"77,5",11008,0.482223,0.005938
409,NaN,NaN,NaN,11011,NaN,NaN,Berlin Lichtenberg,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,286522,NaN,NaN,2.680288,8320,223,2903.790983,2.903791,Berlin,11,SK Berlin Lichtenberg,"15.03.2021, 00:00 Uhr",71.896748,NaN,3669491,74.09747,2719,4,206,1,"71,9",11011,0.545924,0.006902
410,NaN,NaN,NaN,11010,NaN,NaN,Berlin Marzahn-Hellersdorf,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,262967,NaN,NaN,2.856015,7598,217,2889.335924,2.889336,Berlin,11,SK Berlin Marzahn-Hellersdorf,"15.03.2021, 00:00 Uhr",79.097377,NaN,3669491,74.09747,2719,4,208,0,"79,1",11010,0.487570,0.008184
411,NaN,NaN,NaN,11005,NaN,NaN,Berlin Spandau,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,239019,NaN,NaN,2.212082,10081,223,4217.656337,4.217656,Berlin,11,SK Berlin Spandau,"15.03.2021, 00:00 Uhr",75.726197,NaN,3669491,74.09747,2719,4,181,0,"75,7",11005,0.719318,0.012292
412,NaN,NaN,NaN,11006,NaN,NaN,Berlin Steglitz-Zehlendorf,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,302177,NaN,NaN,2.149355,10003,215,3310.311506,3.310312,Berlin,11,SK Berlin Steglitz-Zehlendorf,"15.03.2021, 00:00 Uhr",81.078308,NaN,3669491,74.09747,2719,4,245,0,"81,1",11006,0.791122,0.013552
413,NaN,NaN,NaN,11001,NaN,NaN,Berlin Mitte,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,375238,NaN,NaN,1.589629,17048,271,4543.249884,4.543250,Berlin,11,SK Berlin Mitte,"15.03.2021, 00:00 Uhr",78.883269,NaN,3669491,74.09747,2719,4,296,1,"78,9",11001,0.438594,0.005218
414,NaN,NaN,NaN,11002,NaN,NaN,Berlin Friedrichshain-Kreuzberg,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,282059,NaN,NaN,1.212282,11301,137,4006.608546,4.006609,Berlin,11,SK Berlin Friedrichshain-Kreuzberg,"15.03.2021, 00:00 Uhr",74.807044,NaN,3669491,74.09747,2719,4,211,0,"74,8",11002,0.404632,0.002700
415,NaN,NaN,NaN,11007,NaN,NaN,Berlin Tempelhof-Schöneberg,Bezirk,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,341772,NaN,NaN,3.067755,13593,417,3977.212879,3.977213,Berlin,11,SK Berlin Tempelhof-Schöneberg,"15.03.2021, 00:00 Uhr",91.874115,NaN,3669491,74.09747,2719,4,314,0,"91,9",11007,0.534689,0.007011

## We'll have a look at the column names

In [4]:
list(df.columns.values)

['ADE',
 'GF',
 'BSG',
 'RS',
 'AGS',
 'SDV_RS',
 'GEN',
 'BEZ',
 'IBZ',
 'BEM',
 'NBD',
 'SN_L',
 'SN_R',
 'SN_K',
 'SN_V1',
 'SN_V2',
 'SN_G',
 'FK_S3',
 'NUTS',
 'RS_0',
 'AGS_0',
 'WSK',
 'EWZ',
 'KFL',
 'DEBKG_ID',
 'death_rate',
 'cases',
 'deaths',
 'cases_per_100k',
 'cases_per_population',
 'BL',
 'BL_ID',
 'county',
 'last_update',
 'cases7_per_100k',
 'recovered',
 'EWZ_BL',
 'cases7_bl_per_100k',
 'cases7_bl',
 'death7_bl',
 'cases7_lk',
 'death7_lk',
 'cases7_per_100k_txt',
 'AdmUnitId',
 'SHAPE_Length',
 'SHAPE_Area']

### Let's just pick the few columns that interest us

In [8]:
df = df[['last_update', 'BL', 'GEN', 'county', 'cases7_per_100k', 'cases7_bl_per_100k']]
df[df["county"] == 'SK München']

,last_update,BL,GEN,county,cases7_per_100k,cases7_bl_per_100k
OBJECTID,,,,,,
224,"15.03.2021, 00:00 Uhr",Bayern,München,SK München,69.059564,88.367485

In [7]:
the_one_row = df[df["county"] == 'SK München']
the_one_row['cases7_per_100k'].values[0]

69.0595637052578

## Let's add some new useful column

### New column Differenz in total doses

In [2]:
df['dosen_kumulativ_differenz_zum_vortag'] = df.dosen_kumulativ - df.dosen_kumulativ.shift(1)
df['dosen_kumulativ_differenz_zum_vortag'] = df['dosen_kumulativ_differenz_zum_vortag'].fillna(0)
df = df.astype({'dosen_kumulativ_differenz_zum_vortag': 'int64'})

NameError: name 'df' is not defined

### New column: Day of the week

In [0]:
def week_day_string(weekday):
    if weekday == 0:
        return 'Mon'
    elif weekday == 1:
        return 'Tue'
    elif weekday == 2:
        return 'Wed'
    elif weekday == 3:
        return 'Thu'
    elif weekday == 4:
        return 'Fri'
    elif weekday == 5:
        return 'Sat'
    elif weekday == 6:
        return 'Sun'
    else:
        return 'Werktag'

def day_type(weekday):
    if weekday == 5:
        return 'Sat'
    elif weekday == 6:
        return 'Sun'
    else:
        return 'Werktag'

df['weekday'] = df.index.weekday
df['is_weekend'] = df.apply(lambda x: day_type(x['weekday']), axis=1)
df['weekday'] = df.apply(lambda x: week_day_string(x['weekday']), axis=1)

## Let's take a look

In [0]:
df.tail(3)

In [0]:
current_official_doses = df.tail(1)['dosen_kumulativ']

In [0]:
df['dosen_kumulativ'].plot.line(figsize=(18,8), title='Impfungen Bayern ')

In [0]:
print(df['dosen_kumulativ_differenz_zum_vortag'].max())
print(df['dosen_kumulativ_differenz_zum_vortag'].min())