# We start off by reading the data

In [4]:
import shared

bl_dict = shared.bl_dict
bl_kurzel = shared.bl_kurzel

In [5]:
from datetime import datetime
import pandas as pd


path = f'data/df_LEARN_BY.pkl'
df = pd.read_pickle(path)

In [6]:
df.tail()

,date,publication_date,dosen_kumulativ,shots_today,shots_sum,is_weekend,weekday_name,calendar_week,year_and_week,shots_guess,guess_off
126,2021-05-01,NaN,NaN,62403.333333,4705261,True,Sat,17,2021_17,47951.0,-14452.333333
127,2021-05-02,2021-05-03 08:00,4767664.0,62403.333333,4767664,True,Sun,17,2021_17,55177.0,-7226.333333
128,2021-05-03,2021-05-04 08:00,4827067.0,59403.000000,4827067,False,Mon,18,2021_18,101803.0,42400.000000
129,2021-05-04,2021-05-05 08:00,4959174.0,132107.000000,4959174,False,Tue,18,2021_18,60904.0,-71203.000000
130,2021-05-05,2021-05-06 08:00,5140210.0,181036.000000,5140210,False,Wed,18,2021_18,95755.0,-85281.000000